<nav class="bg-white shadow-md border-b border-gray-300">

    <div class="max-w-7xl mx-auto px-6 py-4">

        <div class="flex items-center justify-between">

            <div class="flex items-center gap-3">

                <div class="w-10 h-10 bg-[#163b42] rounded-xl flex items-center justify-center text-white font-bold">
                    S
                </div>

                <div>

                    <h1 class="text-xl font-bold text-gray-800">
                        Steganografi
                    </h1>

                    <p class="text-sm text-gray-500">
                        Hybrid Vigenere & Chaotic LSB
                    </p>

                </div>

            </div>

            <div class="flex items-center gap-4">

                

                <a href="/"
                   class="px-4 py-2 rounded-lg hover:bg-blue-100">

                    Encrypt

                </a>

                <a href="/decrypt"
                   class="px-4 py-2 rounded-lg hover:bg-green-100">

                    Decrypt

                </a>

            </div>

        </div>

    </div>

</nav>